body{
    color: rgb(176, 71, 187);
    background-color: rgba(120, 25, 255, 0.5);
    font-family: arial, helvetica, monospace;
}
/*Comentarios*/
p, li, dd, dt{
    font-family: arial, helvetica, sans-serif;
    color: rgb(5, 0, 4);
}

ul{
    list-style-type: lower-greek;
}

div{
    display: inline-grid;
}

select{
    background-color: rgb(81, 13, 105);
    color: rgb(245, 245, 245);
}

span{
    color: rgb(92, 250, 138);
    text-shadow: rgb(50, 97, 176);
}

span:hover{
    color: rgb(244, 233, 77);
    font-style: normal;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: underline;
}

span:active{
    font-weight: bold;
    font: normal small-caps bold 25px/2.5 arial, helvetica, sans-serif;
    /*visibility: hidden;*/
}

svg[title]{width: 1000px; height: auto;}

a:link {color: rgb(33, 167, 194);}
a:visited {color: rgb(169, 204, 55);}
a{
    text-decoration: none;
}
#Cont1{
    width: 600px;
    height: 800px;
    overflow: scroll;
    background: lime;
    border: 4px solid red;
    padding: inherit;
}

table{
    width: auto;
    height: auto;
    empty-cells: show;
    border-collapse: collapse;
}

td{
    border: 1px solid red;
    text-align: center;
    font-size: 20px;
}
